                /* Footer styling */

                footer{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 150px;
                    background-color: #666;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-top: 10px solid #4aaaa5;
                }
                    footer p{
                        text-align: center;
                        font-size: 22px;
                        font-weight: 500;
                        color: #fff;
                        font-style: italic;
                    }