    /* Styling the second side -> Container with cards */
    section.container{
        width: 100%;
        margin: 0 auto;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: top;
    }
        section.container .cards{
            width: 68%;
            height: 100%;
            background-color: #fff;
            padding: 3%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
            section.container .cards p{
                font-size: 25px;
                color: #4aaaa5;
                width: 100%;
                height: 10%;
            }
            section.container .cards p::after{
                display: block;
                content: "";
                margin-top: 20px;
                width: 100%;
                height: 2px;
                background-color: #ccc;
            }
        section.container .cards ul{
            margin-top: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
        }
            section.container .cards ul li{
                display: flex;
                margin: 30px 0px;
                width: 45%;
                height: 200px;
                align-items: last baseline;
                padding-bottom: 20px;
            }
            section.container .cards ul li:nth-child(1){
                background: url(../images/first.jfif);
            }
            section.container .cards ul li:nth-child(2){
                background: url(../images/second.jfif);
            }
            section.container .cards ul li:nth-child(3){
                background: url(../images/third.png);
            }
            section.container .cards ul li:nth-child(4){
                background: url(../images/fourth.jfif);
            }
            section.container .cards ul li:nth-child(5){
                background: url(../images/fifth.jfif);
            }
                section.container .cards ul li h4{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40%;
                    color: #fff;
                    font-size: 20px;
                    background: #4aaaa5;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            /* Section right-side done, start for contact links */

            /* Adding styles for footer because in standart it seems so bad 
            When we set position absolute to footer it fixes in middle of page when the size of screen is incorrect*/

            @media only screen and (max-height: 1300px) {
                footer{
                    position: inherit;
                }
            }
            @media only screen and (min-height: 1300px) {
                footer{
                    position: absolute;
                    bottom: 0;
                }
            }

        